/* HTML */
body{
    font-family: 'Ubuntu', sans-serif;
}





/* Navbar */
.nav-logo {
    height: 3.5rem;
    width: 22rem;
}

.btn {
    margin-right: 3.5rem;
    background-color: black;
}

.nav-link {
    font-weight: 200;
    margin : 0 -81%;
    font-size: 1.3rem;
}

#Nav-About {
    border: 1px solid white !important;
}
#Nav-About:hover {
    background-color: white;
    color: black;
}





/* Intro carousel */
.intro-img {
    height: 86vh;
}

.carousel-caption {
    color: black;
}



