/* HTML */
body {
    font-family: 'Ubuntu', sans-serif;
}





/* Navbar */
.nav-logo {
    height: 3.5rem;
    width: 22rem;
}

.btn {
    margin-right: 3.5rem;
    background-color: black;
}

.nav-link {
    font-weight: 200;
    margin: 0 -81%;
    font-size: 1.3rem;
}

#Nav-About {
    border: 1px solid white !important;
}

#Nav-About:hover {
    background-color: white;
    color: black;
}





/* Intro carousel */
.intro-img {
    height: 86vh;
}

.carousel-caption {
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1e-11rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.car-head {
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1e-11rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.carousel-caption a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1e-11rem;
    text-decoration: underline;
    text-decoration-color: black;
    
}